<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>location</string>
	</array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>StrideQuest needs your location to track your routes and show your position on the map</string>

    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>StrideQuest needs your location to track your routes even when the app is in background</string>
    <key>NSFaceIDUsageDescription</key>
    <string>We use Face ID for signing you in securely.</string>
</dict>
</plist>
